<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <div class="navbar-brand">
      <a class="link fw-bold text-default" routerLink="/"><i class="bi bi-phone-fill cursor-pointer text-default"></i><span data-testid="mini-shop-title"> Mini Shop </span> </a>
    </div>
    <div class="position-relative mx-2 cursor-pointer" routerLink="/cart">
      <i class="bi bi-cart3 text-default" style="font-size:larger;"></i>
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-default text-light" data-testid="header-cart-count" >
        {{count}}
      </span>
    </div>
  </div>
</nav>
<ngx-spinner type="line-scale">Loading...</ngx-spinner>
<router-outlet></router-outlet>


