
:root {
  --theme-color: #40b5ad;
  --background-color : #deeff5;
  --box-shadow-color-1:#00000033;
  --box-shadow-color-2:#ccc;
  
}

.text-default {
  color: var(--theme-color) !important;
}
.cursor-pointer {
  cursor: pointer;
}

.bg-default {
  background-color: var(--theme-color) !important;
}
button:disabled {
  cursor: not-allowed;
}

body {
  background-color: var(--background-color);
  font-family: Georgia, "Times New Roman", Times, serif;
}
